<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.2.3" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="3.1.0" targetFramework="net45" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net452" />
  <package id="sqlSugar" version="5.0.0.13" targetFramework="net40" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
</packages>